<?xml version="1.0"?>
<launch>
    <arg name="enable_odom_tf" default="false" />

    <!-- Load Control Params -->
    <rosparam command="load" file="$(find copernicus_control)/config/control.yaml" />

    <param name="copernicus_base_controller/enable_odom_tf" value="$(arg enable_odom_tf)" />

    <!-- Controller manager -->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="copernicus_joint_publisher copernicus_base_controller">
    </node>

    <!-- gazebo ros spawner -->
    <!-- <node name="gazebo_ros_control" pkg="gazebo_ros_control" type="gazebo_ros_control_plugin"/>  -->

    <!-- Odometry and Cmd Vel Relays -->
    <!-- <node name="relay_odom" pkg="topic_tools" type="relay" output="screen" args="copernicus_base_controller/odom r1/odom" /> -->
    <!-- <node name="relay_cmd_vel" pkg="topic_tools" type="relay" output="screen" args="r1/cmd_vel copernicus_base_controller/cmd_vel" /> -->

    
</launch>
